<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
 <link rel="stylesheet" href="/assets/css/cover.css">
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {% include navbar.html %} 
       {{ content}}
    {% include footer.html %}
<footer class="mt-auto text-white-50"> <p>Personal Git Page with Bootstrap <a href="https://ajaymalekar.github.io/" class="text-white">Ajay Malekar</a>, by <a href="https://twitter.com/mdo" class="text-white">@ajaymalekar</a>.</p>
 </footer>
      </div>
    


  </body>
</html>
