<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  </head>
  <body class=.bg-light.bg-gradient p-2 text-white">
   {% include navbar.html %}
    
    <div class="container-lg">
      <div <img src="..." class="img-fluid" alt="...">
      {{ content}} 
    </div>   
   {% include footer.html %}
<footer class="mt-auto text-white-50"> <p>Personal Git Page with Bootstrap <a href="https://ajaymalekar.github.io/" class="text-white">Ajay Malekar</a>, by <a href="https://twitter.com/mdo" class="text-white">@ajaymalekar</a>.</p>
 </footer 
  </body>
</html>
